/* .none{
    display: none;
} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    display: flex;
    max-width: 100vw;
    height: 100vh;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.slider .container{
    height: 100%;
    width: 80%;
    background-color: brown;
    display: flex;
    overflow-x: hidden;
}

.slider .container .slide{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: 1s all;
}

.slider .container .slide:nth-child(1){
    background-color: green;
}

.slider .container .slide:nth-child(2){
    background-color: blueviolet;
}

.slider .container .slide:nth-child(3){
    background-color: yellow;
}
